{% extends "layout.html" %}
{% block body %}

    <h3>Your events that happened on this day:</h3>
    <h2 id="todays_date"></h2>
    <div id="loader"></div>
    <div id="events_parent">
      <ul id="events">
      </ul>
    </div>

    <button id="modal-btn">&#9881;</button>

    <div class="modal">
      <div class="modal-content">
        <span class="close-btn">&times;</span>
        <form action="/sms-events" method="post">
          <p>Check to send daily SMS text message with events:</p>
          <input type="checkbox" name="sendSMS">
          <p>Phone Number:</p>
          <input type="text" name="phoneNumber" value="">
          <br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>


    <script>
      var ul = document.getElementById("events");
      var spinner = document.getElementById('loader');

      function todays_Date() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        var today = mm + '/' + dd + '/' + yyyy;
        return today;
      }

      function add_date() {
        var today_date = new Date().toDateString();
        today_date = today_date.split(" ").slice(1,3);
        document.getElementById("todays_date").innerHTML = today_date[0] + " " + today_date[1];
      }

    function get_events(chosen_date) {
      var url_param = 'date=' + chosen_date;
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          display_events(this.responseText);
          }
        };
      xhttp.open("POST", "/events", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(url_param);
    }

    function display_events(events_list) {
      if (events_list == "No events") {
        var li=document.createElement('li');
        ul.appendChild(li);
        li.innerHTML=li.innerHTML + "Boo :( You didn't have any events";
      }
      else {
        events_list = JSON.parse(events_list)
        for (var key in events_list) {
          if (events_list.hasOwnProperty(key)) {
            var val = events_list[key];
  
            var li=document.createElement('li');
  
            ul.appendChild(li);
            li.innerHTML=li.innerHTML + key.split('-')[0] + ' : ' + val;
          }
        }
      }
      spinner.style.display = "none";
      }
  

    window.onload = function(){
      add_date();
      get_events(todays_Date());
    };

  let modalBtn = document.getElementById("modal-btn")
  let modal = document.querySelector(".modal")
  let closeBtn = document.querySelector(".close-btn")
  modalBtn.onclick = function(){
    modal.style.display = "block"
  }
  closeBtn.onclick = function(){
    modal.style.display = "none"
  }
  window.onclick = function(e){
    if(e.target == modal){
      modal.style.display = "none"
    }
  }
    </script>
{% endblock %}