{% extends "layout.html" %}
{% block body %}
      <div id="my-signin2"></div> 
      
    <script>            
        function onSuccess(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/login');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                redirectUser(xhr.responseText);
            };
            xhr.send('idtoken=' + id_token);
 
        }
        function redirectUser(urlToFollow) {
          location.href = urlToFollow;
        }
        function onFailure(error) {
          console.log(error);
        }
        function renderButton() {
          gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
          });
        }
      </script>
{% endblock %}

